.imageContainer{
    width:100%;
    overflow:hidden;
    background:none;
    position:relative;
    height:260px;
    display:flex;
   flex-wrap: wrap;
    justify-content: center;

    
    .imageWrapper{
     
       
        position:relative;
        width:400px;
        height:250px;
        display:flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        
        .productDescriptionImg{
            width:100%;
         
            object-fit: contain;
         
           height:100%;
           
           
        }
    }
}
.productName{
    width:100%;
    .spanHeading{
        display:block;
        color:#222222;
        font-size: 14px;
        font-weight: 400;
    }
    .spanSubHeading{
        display:block;
        color:#999999;
        font-size: 13px;
    }
}
.productDetailsContainer{
    .productDetailsHeading{
        display: block;
        font-size: 16px;
        color:#ED7745;
        font-weight: 700;
        text-transform: uppercase;
    }
    .ulList{
        list-style-type: none;
        padding-left: 0;
        display:flex;
        flex-direction: column;
        justify-content:center;
        li{
            position:relative;
            padding-left: 10px;
            line-height: 1.5;
            &::before{
                content: '•';
                position:absolute;
                left:0;
                line-height: 1.5;
                font-size: 1rem;
            }
            .listSpan{
                display:inline-block;
                font-size: 14px;
                color:#222222;
                font-weight: 700;
                margin-right: 5px;
            }
            .listSpan2{
                display:inline-block;
                font-size: 12px;
                color:#222222;
                
            }
        }
    }
}


