.custom-container{
    .form-styling{
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        .form-text-edit{
            width:350px;
            height:50px;
         }
    }

.image-signin{
    width:100px;
    height:100px;
}
.btn-custom{
    width:350px;
    text-align: center;
    margin-top: 5px;
    background-color: orange;
   
}
}