.imageCard{
    width:100%;
    height:200px;
}
.linkStyling{
    text-decoration: none;
    &:hover,&:focus,&:active, &:visited, &:link,{
        text-decoration: none;
    }
}


@media screen and (max-width: 600px){
    .imageCard{
        width:100%;
        height:100px;
    }
}