.addressForm{
    box-sizing: border-box;
    input{
        border:none;
        border-bottom: 1px solid #dfdfdf;
        border-radius: 0px;
       
        
        &:focus{
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid #dfdfdf;

            
        }
        label{
            padding-left: 13px;
            
            font-size: 13px;
        
            
            

        }
        
    }
    textarea{
        border:none;
        border-bottom: 1px solid #dfdfdf;
        border-radius: 0px;
        height:calc(3.5rem + calc(var(--bs-border-width)*2));
        max-height: calc(3.5rem + calc(var(--bs-border-width)*2));
        line-height: 1.25;
        width:100%;
        
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-right: 0.75rem;
        padding-left: 0;
        &:focus + label,
        &:not(:placeholder-shown) + label {
          transform: translate(0px, -56%);
          font-size: 0.85rem;
          color:#000;
        }
        &::placeholder{
            color:transparent;
        }
        
        
        &:focus{
            outline: none;
            box-shadow: none;
            border-bottom: 1px solid #dfdfdf;


        }
        label{
            padding-left:13px ;
            overflow:hidden;
            height:100%;
            text-align: start;
            color: rgb(153,153,153);
            font-size: 13px;
            
        
        }
        
    }
  
}
.addressTextStyling{
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    background-color: padding-box;
   
    label{
        position:absolute;
        top:0;
        left:0;
        z-index:2;
       padding: 1rem 0.75rem;
       pointer-events: none;
       transition: all 0.15s ease-in-out;
        
    }
}


   
.formCheck{
    label{
        position:relative;
        width:20px;
        height: 20px;
        span{
            display: block;
            position: absolute;
            width:100%;
            height:100%;
            border:1px solid #dfdfdf;
            border-radius: 6px;
            cursor:pointer;
          //  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.8); /* White shadow */


            &::after{
                position:absolute;
                content: '';
                left:9px;
                bottom:4px;
                width:10px;
                height:22px;
                border:1px solid #ED7745;
                border-width: 0px 2px 2px 0px;
               transform:rotate(45deg);
                opacity:0;
                transition: width 0.5s, height 0.5s, opacity 0.5s;
                
                

            }
        }
        input{
            width:100%;
            height:100%;
            position:absolute;
            opacity:0;
            &:checked ~ span::after{
                width:10px;
                height:22px;
                opacity:1;
                



            }
        }
    }
}